body {
  margin: 0;
  background-color: #1a1721;
  color: white;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#wrapper {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#content {
  overflow: visible;
  width: 100%;
}

.text {
  position: fixed;
  top: 50vh;
  font-family: termina, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 8vw;
  text-align: center;
  width: 100%;
  transform: translateY(-100%);
  z-index: 2;
  color: white;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
  z-index: -2;
}

.outline-text {
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
  z-index: 2;
}

.filter-text {
  mix-blend-mode: screen;
  color: #004DF4;
  z-index: 2;
}

button {
  position: fixed;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1111;
  font-size: 16px;
  font-family: "Geist Sans", sans-serif;
  font-weight: 600;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 6rem;
  padding-right: 6rem;
  border-radius: 18px;
  border: 0;
  mix-blend-mode: difference;
  transition: filter 0.2s;
  background: #004DF4;
  color: white;
  box-shadow:  0px 12px 23px rgba(0,56,97,1);
}

button::before {
  content: "Get Started";
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  z-index: 2;
  mix-blend-mode: none;
}

button::after {
  content: "";
  left: 8%;
  right: 8%;
  height: 12%;
  top: 130%;
  position: absolute;
  border-radius: 100px;
  mix-blend-mode: difference;
}

button:is(:hover, :focus-visible) {
  filter: brightness(0.5);
}
